<app-header></app-header>
<div class="centerWrapper">
  <div class="effectWrapper">
    <div class="formTitle">Registrieren</div>

    <form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && submitRegister()">
      <div class="formElement">
        <mat-form-field>
          <input id="name"
                matInput
                formControlName="name"
                placeholder="Ihren Namen eingeben"/>
        </mat-form-field>

        <mat-form-field>
            <input id="email"
                  matInput
                  formControlName="email"
                  placeholder="Ihre Email eingeben"/>
          </mat-form-field>

          <mat-form-field>
              <input id="password"
                    matInput
                    formControlName="passwort"
                    placeholder="Ihr Passwort eingeben"
                    type="password"/>
            </mat-form-field>
            <button mat-button type="submit" class="mat-raised-button mat-primary">Registrieren</button>
            <button mat-button routerLink='/login' class="divider">Einloggen</button>
      </div>
    </form>
  </div>
</div>