.spacer{
    flex: 1 1 auto;
}
a, a:link, a:visited {
    color: #FFFFFF;
  }

#heading{
    font-size: 150%;
    margin-left: -10%;
}

#logginBut{
    width: 100px;
    background-color: red;
}
#regBut{
    background: red;
}