<app-header></app-header>
<app-sidebar class="side"></app-sidebar>

<div class="calendarWrapper">
  <!--Header-->
  <div class="calendarHeader">
    <button class="calendarButton" mat-button class="mat-raised-button mat-primary" id="next" (click)="nextMonth()">Next</button>
    <h3 class="calendarHeading">{{heading}}</h3>
    <button class="calendarButton" mat-button class="mat-raised-button mat-primary" id="previous" (click)="previousMonth()">Previous</button>
    
  </div>

  <!--List of invites-->
  <div class="effectWrapper" *ngFor="let appointment of appointments; index as i" [id]="i">
    <h4>{{appointment.title}}</h4>
    <p>
      <!--startdate-->
      {{appointmentDate[i].startday}}.{{appointmentDate[i].startmonth}}.{{appointmentDate[i].startyear}}
      um {{appointmentDate[i].starthours}}:{{appointmentDate[i].startminutes}} Uhr bis
      <!--enddate-->
      {{appointmentDate[i].endday}}.{{appointmentDate[i].endmonth}}.{{appointmentDate[i].endyear}}
      um {{appointmentDate[i].endhours}}:{{appointmentDate[i].endminutes}} Uhr
    </p>

    <p id="descriptionHeading">Beschreibung:</p>
    <p>{{appointment.description}}</p>
  </div>
</div>