#side{
	float:left;
	width:19.5%;
	height: 100%;
	margin-top:0.5%;
}

#calenderWrapper{
	float: right;
	width: 80%;
	height: 100%;
	background-color: whitesmoke;
}

#monthAndYear{
	float: left;
	margin-left: 40%;
}

button{
	float: right;
	margin: 1%;
	width: 100px;
}

#calendar{
	width: 100%;
	height: 100%;
}

th{
	border-style: solid;
	background-color: lightgray;
	width: 14%;
}
