<div class="effectWrapper">
  <h2 mat-dialog-title>Einladungen:</h2>
  <mat-dialog-content>

    <!--Message of no invites-->
    <div class="effectWrapper" *ngIf="!hasInvites">
      <h3>Sie haben keine unbeantworteten Einladungen.</h3>
    </div>

    <!--List of invites-->
    <div class="effectWrapper" *ngFor="let invite of invites; index as i" [id]="i">
      <h4>{{invite.title}}</h4>
      <p>
        <!--startdate-->
        {{inviteDate[i].startday}}.{{inviteDate[i].startmonth}}.{{inviteDate[i].startyear}} 
        um {{inviteDate[i].starthours}}:{{inviteDate[i].startminutes}} Uhr bis 
        <!--enddate-->
        {{inviteDate[i].endday}}.{{inviteDate[i].endmonth}}.{{inviteDate[i].endyear}} 
        um {{inviteDate[i].endhours}}:{{inviteDate[i].endminutes}} Uhr
      </p>
      
      <p id="descriptionHeading">Beschreibung:</p>
      <p>Hier steht die beschreibung</p>
      <div id="buttons">
        <button mat-icon-button (click)="onAnswer(i, true)">
            <mat-icon>check_circle_outline</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="onAnswer(i, false)">
            <mat-icon>highlight_off</mat-icon>
        </button>
      </div>
    </div> 
  </mat-dialog-content>
</div>
