<!--<div class="effectWrapper">
  <h2 mat-dialog-title>Einladungen:</h2>
  <mat-dialog-content>
    <div calss="invites" *ngFor="let invite of invites">
      <h4>{invite.title}</h4>
    </div> 
  </mat-dialog-content>

  <div id="buttons">
    <button mat-icon-button (click)="onEdit()">
        <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon>email</mat-icon>
    </button>
    <button mat-icon-button color="warn" (click)="onRemove()">
        <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
-->