<div id="sideWrapper">
    <button mat-button id="terminButton" routerLink='/createAppointment'>Termin erstellen</button>
    <hr>
    <div id="categories">
      <h3>Kategorien:</h3>
      <div id="checkboxesWrapper"></div>
      <mat-checkbox class="checkboxes" *ngFor="let category of categories; index as i" checked="{{checked[i]}}" id="{{category._id}}" (change)="onChange(category._id)">{{category.title}}</mat-checkbox>
      <button mat-button id="categoryButton" (click)="onCreateCategory()">Kategorie erstellen</button>
    </div>
</div>
