/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/*general css for all forms*/
.centerWrapper {
    margin: auto;
    width: 50%;
    padding: 10px;
  }
     
  .effectWrapper {
    border: 1px solid rgba(0, 0, 0, .03);
    box-shadow: 0 2px 2px rgba(0, 0, 0, .24), 0 0 2px rgba(0, 0, 0, .12);
    margin: 4px;
  }
  
  .formTitle {
    color: rgba(0, 0, 0, .54);
    background: rgba(0, 0, 0, .03);
    padding: 8px 5px;
    font-weight: bold;
  }
  
  .formElement {
    display: flex;
    flex-direction: column;
  }
  
  .divider {
    margin-top: 10px !important; 
  }
  
  /*error and success messages */
  .errorMessage {
    width: 90%;
    text-align: center;
    color: #D8000C;
    background-color: #FFD2D2;
  }

  .success{
    color: #4F8A10;
    background-color: #DFF2BF;
    margin:10px;
    padding-top: 10px;
    height:30px;
    text-align: center;
}

  /*buttons of calendar*/
  .fc button{
    background-color: #3F51B5;
  }

  /*css for calender views*/
  .side{
    float:left;
    width:19.5%;
    height: 100%;
    margin-top:0.5%;
  }
  
  .calendarWrapper{
    float: right;
    width: 80%;
    height: 100%;
    background-color: whitesmoke;
  }

  .md-dialog-container {
    width: 500px;
}


  /*resizing for smal devices*/
  @media only screen and (max-width: 900px) {
    .centerWrapper {
      width: 95%;
    }
  }